

<div id="search-params">
  <input type="text" class="form-control" id="js-search-word" placeholder="What word are you searching?">
  <select class="form-control" id="js-search-lang">
    <option value="es">Spanish</option>
    <option value="en">English</option>
  </select>
  <select class="form-control" id="js-search-order">
    <option value="mixed">Mixed</option>
    <option value="recent">Recent</option>
    <option value="popular">Popular</option>
  </select>
  <button type="submit" class="btn btn-primary" id="js-btn-search">Search</button>
</div>

<div id="search-result">
  <div class="js-tweet">
    <p class="name">Name of account</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
  </div>
    <div class="js-tweet">
    <p class="name">Name of account</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
  </div>
    <div class="js-tweet">
    <p class="name">Name of account</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
  </div>
    <div class="js-tweet">
    <p class="name">Name of account</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
  </div>
    <div class="js-tweet">
    <p class="name">Name of account</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
  </div>
</div>
